.NavContainer {
  background-color: #f8f8ea;
  border-bottom: 2px solid #5e340c;
  text-align: center;
}

.NavTitle__Container {
  background-image: url(../images/banner/banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 8px 0;
  overflow-x: hidden;
}

.NavTitle__Text {
  font-size: 8vw;
  color: #e8ddc8;
  text-shadow: 8px 0px #5e340c;
  line-height: 1.2;
  font-family: 'Rye', 'Vollkorn SC', cursive;
  margin: 0;
}

@media all and (min-width: 1000px) {
  .NavTitle__Text {
    font-size: 80px;
  }
}
@media all and (max-width: 400px) {
  .NavTitle__Text {
    font-size: 32px;
  }
}

.NavTitle__LinkWrapper {
  display: inline-block;
  position: relative;
  padding: 24px 8px;
}

.DottedLine {
  background-image: linear-gradient(to right, #eeeeee 52%, rgba(255,255,255,0) 0%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
  width: 200%;
  height: 1px;
  position: absolute;
}

.top {
  background-position: bottom;
  border-top: 1px solid white;
  padding-top: 10px;
  right: -10px;
  top: 15px;
}

.bottom {
  /* Needs to be "to left" or it doesn't line up right on the left side */
  background-image: linear-gradient(to left, #eeeeee 52%, rgba(255,255,255,0) 0%);
  background-position: top;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  left: -10px;
  bottom: 15px;
}

.NavTitle__Link {
    color: black;
    display: block;
    margin: 10px auto;
}
.NavTitle__Link:hover, .NavTitle__Link:focus {
  text-decoration: none;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  margin: 16px;
  padding-left: 0;
}

.Nav_link {
  padding: 0 16px;
  font-size: 18px;
  font-family: 'Vollkorn SC', serif;
  text-transform: none;
  display: inline-block;
  color: #5e340c;
}

.Nav_link:hover,
.Nav_link:active {
  text-decoration: underline;
  cursor: pointer;
}

.Nav_link.Nav_link--active {
  cursor: default;
}

.menuLink {
  font-family: 'Vesper Libre', serif;
}
