/* These aren't directly usable */
:root {
  -—white: #ffffff;
  --yellowed: #fcf9f0;
  -—oldpaper: #e8ddc8;
  -—tan: #dca76e;
  -—leather: #cc964b;
  -—rust: #ac4807;
  -—coffee: #5e340c;
  -—slate: #2d2d2d;
  --blackish: #1d0e00;
}

body {
  margin: 0;
  font-family: 'Vesper Libre', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 17px;
  line-height: 1.5;
}

main {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url('./images/bg/fullbg.jpeg');
  background-position-x: center;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Vollkorn SC', serif;
  font-weight: normal;
}

/* These should be in the theme, but writing directly to save time */
h1 {
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 8px;
}
h3 {
  font-size: 18px;
  margin-top: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

a {
  color: #3c4446;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.App {
  background-color: #e8ddc8;
  min-height: 100vh;
  color: #1d0e00;
  display: flex;
  flex-direction: column;
}
